<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" targetFramework="net40" />
  <package id="Castle.LoggingFacility" version="3.0.0.4001" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.0.0.4001" targetFramework="net40" />
  <package id="fasterflect" version="2.1.0" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="mongocsharpdriver" version="1.5" targetFramework="net40" />
  <package id="PowerThreading" version="20101026.0" targetFramework="net40" />
  <package id="Rhino.PersistentHashTable" version="1.7.0.0" targetFramework="net40" />
  <package id="Rhino.Queues" version="1.4.2.0" targetFramework="net40" />
  <package id="Rhino.ServiceBus" version="2.3.3.0" targetFramework="net40" />
  <package id="Rhino.ServiceBus.Castle" version="2.3.3.0" targetFramework="net40" />
  <package id="Rhino.ServiceBus.Host" version="2.3.3.0" targetFramework="net40" />
  <package id="Rhino.ServiceBus.References" version="2.3.3.0" targetFramework="net40" />
</packages>