<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.1.0" targetFramework="net40" />
  <package id="Castle.LoggingFacility" version="3.1.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.1.0" targetFramework="net40" />
  <package id="fasterflect" version="2.1.0" targetFramework="net40" />
  <package id="log4net" version="2.0.10" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="mongocsharpdriver" version="1.5" targetFramework="net40" />
  <package id="NHibernateProfiler" version="1.0.0.951" targetFramework="net40" />
  <package id="PowerThreading" version="20120420.0" targetFramework="net40" />
  <package id="Rhino.PersistentHashTable" version="1.7.0.0" targetFramework="net40" />
  <package id="Rhino.Queues" version="1.4.2.0" targetFramework="net40" />
  <package id="Rhino.ServiceBus" version="2.3.4.0" targetFramework="net40" />
  <package id="Rhino.ServiceBus.Castle" version="2.3.4.0" targetFramework="net40" />
  <package id="Rhino.ServiceBus.Host" version="2.3.4.0" targetFramework="net40" />
  <package id="Rhino.ServiceBus.References" version="2.3.4.0" targetFramework="net40" />
  <package id="WebActivator" version="1.5.1" targetFramework="net40" />
</packages>